.servletNode {
    background-image:url('resources/images/servletNode.png') !important; 
}
.webAppNode {
    background-image:url('resources/images/webAppNode.png') !important; 
}
.attributeNode {
    background-image:url('resources/images/attributeNode.png') !important; 
}
.statsNode {
    background-image:url('resources/images/statsNode.png') !important; 
}
.methodNode {
    background-image:url('resources/images/methodNode.gif') !important; 
}
.mappingNode {
    background-image:url('resources/images/mappingNode.png') !important; 
}
.parameterNode {
    background-image:url('resources/images/parameterNode.gif') !important; 
}