.servletNode {
    background-image:url('resources/images/servletNode.png') !important; 
}
.webAppNode {
    background-image:url('resources/images/webAppNode.png') !important; 
}
.attributeNode {
    background-image:url('resources/images/attributeNode.png') !important; 
}
.statsNode {
    background-image:url('resources/images/statsNode.png') !important; 
}