<html>
	<head>
	<title><@title></title>
	<style>
		body {
			font-size : 8pt;
			font-family : Arial, Tahoma, Verdana;
		}
		h1 {
			font-size : 14pt;
			color : #006699;
		}
		h2 {
			font-size : 10pt;
			color : #303030;
		}
		#message {
			border : 1px #006699 solid;
			background-color : #EFEFEF;
			font-family : Courier New;
			padding: 5px;
		}
	</style>
	</head>
	<body>
	<h1>403 - Forbidden</h1>
	<div id="message">
		<@message>
	</div>
	</body>
</html>